document.write('<link href="http://cachecss.kuakao.com/public/ui/css/bootstrap.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/jquery.fancybox.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/uniform.default.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/bootstrap.datepicker.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/jquery.cleditor.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/jquery.plupload.queue.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/jquery.tagsinput.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/jquery.ui.plupload.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/chosen.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/jquery.jgrowl.css" rel="stylesheet" type="text/css" />');
document.write('<link href="http://cachecss.kuakao.com/public/ui/css/style.css" rel="stylesheet" type="text/css" />');
document.write('<style type="text/css">body {padding-top: 45px;padding-bottom: 40px;}.sidebar-nav {padding: 9px 0;}</style>');

document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/less.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/bootstrap.min.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.peity.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.uniform.min.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/bootstrap.timepicker.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/bootstrap.datepicker.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/chosen.jquery.min.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/plupload/plupload.full.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.cleditor.min.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.inputmask.min.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.tagsinput.min.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.mousewheel.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.textareaCounter.plugin.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/ui.spinner.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.fancybox.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.flot.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.flot.pie.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.color.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.flot.resize.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.flot.orderBars.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/jquery.cookie.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/custom.js"></script>');
document.write('<script src="http://cachecss.kuakao.com/public/ui/js/demo.js"></script>');
document.write('<script src="/js/su.js"></script>');
