document.write('<div class="navbar navbar-inverse navbar-fixed-top">');
document.write('	<div class="navbar-inner">');
document.write('        <div class="container-fluid">');
document.write('          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">');
document.write('            <span class="icon-bar"></span>');
document.write('            <span class="icon-bar"></span>');
document.write('            <span class="icon-bar"></span>');
document.write('          </a>');
document.write('          <a class="brand" href="/">管理平台</a>');
document.write('             <p class="navbar-text pull-right" style="width:350px;">');
document.write('               你好,displayName！欢迎来管理平台！&nbsp;&nbsp;&nbsp;');
document.write('               <a href="/front/login/logout.action">');
document.write('				<img alt="" src="http://cachecss.kuakao.com/public/ui/img/icons/fugue/control-power.png">');
document.write('					退出');
document.write('				</a>');
document.write('            </p>');
document.write('          <div class="nav-collapse collapse">');
document.write('          </div><!--/.nav-collapse -->');
document.write('        </div>');
document.write('      </div>');
document.write('    </div>');